[mysqld]
# Slow Query Log
slow_query_log = ON
slow_query_log_file = /var/log/mysql/sql-slow.log
long_query_time = 1.0
log_queries_not_using_indexes = 1

# Thred cache
thread_cache_size=30

# character set / collation
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# timezone
default-time-zone = SYSTEM
log_timestamps = SYSTEM

# Error Log
log-error = /var/log/mysql/sql-error.log

# General Log
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4