[mysqld]
# Slow Query Log
slow_query_log = ON
slow_query_log_file = /var/log/sql-slow.log
long_query_time = 1.0
log_queries_not_using_indexes = 1

# Thred cache
thread_cache_size=30

# character set / collation
character-set-client = utf8mb4
character-set-connection = utf8mb4
character-set-database = utf8mb4
character-set-results = utf8mb4
character-set-server = utf8mb4
character-set-system = utf8mb4


# timezone
default-time-zone = ${TZ}
log_timestamps = ${TZ}

# Error Log
log-error = /var/log/sql-error.log

# General Log
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4